body {
  background-color: #f4f4f4;
  font-family: 'Times New Roman';
}

.container {
  width: 60%;
  margin: auto;
  background: beige;
  padding: 20px;
  border-radius: 10px;
}

.timeline {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

.event {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-left: 4px solid #333;
}

.event span {
  font-weight: bold;
}

.quote {
  font-style: italic;
  background: #fff;
  padding: 30px;
  margin: 30px auto;
  width: 70%;
  border-left: 5px solid #333;
}



h1 {
  color: #970670;
}
