* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #c6eff7;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #1f2933;
}

nav .logo {
  color: #fff;
  font-size: 22px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: #cbd5e1;
  text-decoration: none;
}

nav ul li a:hover {
  color: #87d0e3;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: #68ebfc;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;       
  border: 4px solid #222;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  object-position: center; 
}

.profile-pic {
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
}



.hero h1 {
  margin-top: 15px;
  font-size: 32px;
}

.hero p {
  color: #555;
}

.social-links {
  margin-top: 20px;
}

.about-links {
  margin-top: 20px;
}

.about-links a {
  font-size: 22px;
  margin-right: 15px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-links a:hover {
  color: #0077b5; 
}

.skill:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}



.section {
  padding: 50px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

.skills {
  margin-top: 40px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.skill {
  background: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.skill i {
  font-size: 20px;
  color: #333;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin: auto;
}

.skills-grid div {
  background: rgb(138, 242, 244);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.skills-grid div:hover {
  transform: translateY(-5px);
}

.skills-grid i {
  font-size: 35px;
  color: #2563eb;
}

.skills-grid p {
  margin-top: 10px;
  font-weight: bold;
}

.card {
  background: rgb(129, 255, 255);
  width: 320px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
