body {
  background: #f1c97a;
  font-family: 'Times New Roman', Times, serif;
}

form {
  width: 450px;
  margin: 150px auto;
  background: white;
  padding: 35px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  width: 100%;
  padding: 8px;
}

#error {
  color: red;
}
